*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
body{
    background-image: linear-gradient(rgba(1, 6, 24, 0.5), rgba(2, 2, 29, 0.5)), url("data.png");
    height:100vh;
    color:#fff;
    line-height:1.3rem;
}
.mainhead{
    margin:50px;
    padding:10px;
    font-size:30px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-transform:uppercase;
    text-align:center;
    line-height:1.8rem;
}
#container{
    margin: 0 auto;
    width: 60%;
}
.subcontainer{
    background-color: #fff;
    color:#000;
    margin:20px;
    padding:30px;
    border-radius:10px;
}
.subcontainer .subhead{
    text-align:center;
    margin-bottom:20px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.subcontainer .block .question{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size:18px;
    padding:10px 0;
    border-bottom: 1px solid #000;
    margin-bottom:20px;
    cursor:pointer;
    position:relative;
}
.subcontainer .block .question::after{
    content:'+';
    position:absolute;
    right:-5px;
}
.subcontainer .block .answer{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height:1.5;
    width:100%;
    height:0px;
    overflow:hidden;
    transition:.5s;
}
.subcontainer .block.active .answer{
    height:100px;
}
.subcontainer .block.active .question{
    font-size:18px;
    transition:.5s;
}
.subcontainer .block.active .question::after{
    content:'-';
    font-size:20px;
    transition:.5s;
}